.create-task{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    bottom: 27px;

    input{
      border-radius: 8px;
      width: 638px;
      height: 54px;
      background-color: var(--gray-500);
      border: none;
      padding: 1rem;
      color: var(--gray-100);
    }

    input:focus6y{
      outline: solid 1px var(--purple-200);
    }
    
    button{
      width: 80px;
      height: 52px;
      border-radius: 8px;
      border: none;
      background: var(--blue-400);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      color: var(--gray-100);
      transition: background 0.3s ease-in-out;
    }
    button:hover{
      background: var(--blue-200);
    }
}